body
{
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

a
{
    text-decoration: none;
}

a, a:visited
{
    color: #0be;
}

.current
{
    text-decoration: underline;
}

a:hover
{
    color: #f90;
}

a:active
{
    color: #e80;
}

nav
{
    margin: 0 auto;
    width: 1000px;
    display: table;
}

nav .logo
{
    font-size: 30px;
    display: table-cell;
}

.nav a
{
    padding: 0 10px;
}

nav .logo a, nav .logo a:visited, nav .logo a:hover, nav .logo a:active
{
    color: black;
}

nav .nav
{
    display: table-cell;
    text-align: right;
}

main
{
    margin: 20px auto;
    width: 1000px;
}

.post, .create
{
    border: 1px solid #999;
    margin-top: 10px;
    box-sizing: border-box;
    width: 1000px;
    padding: 10px;
}

.small
{
    width: 140px;
    margin-right: 10px;
    display: inline-block;
}

.post
{
    display: table;
}

.user, .text
{
    display: table-cell;
    vertical-align: top;
    padding: 10px;
}

.user
{
    text-align: center;
    width: 100px;
}

.user .name a
{
    color: #09c;
}

.text
{
    width: 840px;
    position: relative;
}

.title
{
    font-size: 20px;
    font-weight: 600;
    color: #96a;
}

.colored
{
    color: #3aa;
}

.message
{
    margin-bottom: 20px;
}

.options
{
    position: absolute;
    right: 10px;
    bottom: 0;
}

.option
{
    padding-left: 10px;
}

input[type=text], input[type=email], input[type=password], input[type=date], textarea, .button {
    font-size: 14px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border: 1px solid #bbb;
    background-color: white;
    color: #555;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}

.button
{
    margin: 4px auto;
    margin-top: 10px;
    text-align: center;
    padding: 9px;
    width: 72px;
    color: #ccc;
    /*background-color: #ccc;*/
    cursor: default;
}

.clickable
{
    /*background-color: white;*/
    color: black;
    cursor: pointer;
}

.clickable:hover
{
    background-color: #e8e8e8;
}

.clickable:active
{
    background-color: #ddd;
}